@charset "UTF-8";
@import url(../fonts/stylesheet.css);
* {
  box-sizing: border-box; }

body {
  font-size: 12px;
  margin: 30px; }

h1 {
  font-family: 'Inter UI', sans-serif;
  font-size: 2.3em;
  font-weight: 500; }

h2 {
  font-family: "petitemort", serif;
  font-size: 2.3em;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  margin-top: 0;
  font-weight: normal; }

h2 {
  font-family: "petitemort", serif;
  font-size: 2.3em;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  margin-top: 0;
  font-weight: normal; }

h3 {
  font-family: 'Inter UI', sans-serif;
  font-size: 1.2em;
  line-height: 140%;
  font-weight: bold; }

h4 {
  font-family: 'Inter UI', sans-serif;
  font-size: 1.2em;
  color: red;
  text-decoration: underline;
  margin-bottom: 0; }
  h4 + p {
    margin-top: 3px; }

figure {
  margin: 10px 0; }

figcaption p {
  margin-top: 5px;
  text-align: center;
  font-size: 1em;
  color: #222222; }

.show-for-small-only {
  display: none; }

.pswp__caption__center {
  text-align: center;
  font-family: 'Inter UI', sans-serif;
  font-size: 1.2em;
  line-height: 140%; }

p, a, li {
  font-family: 'Inter UI', sans-serif;
  font-size: 1.2em;
  line-height: 140%; }

a {
  color: #000;
  font-size: 1em; }

a:hover {
  color: red; }

img {
  max-width: 100%; }

.main-content {
  position: relative;
  margin-top: 23px;
  opacity: 0;
  transition: all 0.8s linear; }
  .main-content.loaded {
    opacity: 1; }

.main-ecole {
  margin-top: 0; }

.module-menu {
  position: relative; }

#hamburger {
  display: none; }

.menu {
  padding-left: 0;
  margin-top: 0;
  position: relative; }
  .menu li {
    list-style: none;
    display: inline-block;
    font-size: 1em; }
    .menu li::after {
      content: "|";
      display: inline-block;
      padding: 0 5px; }
  .menu a {
    text-decoration: none; }
  .menu .submenu {
    position: absolute;
    opacity: 0;
    padding-left: 0;
    padding-top: 25px;
    transition: all 0.7s linear;
    overflow: hidden; }
    .menu .submenu.active {
      opacity: 1; }
    .menu .submenu li {
      display: block; }
      .menu .submenu li a {
        color: red; }
        .menu .submenu li a:hover {
          color: #000; }
      .menu .submenu li::after {
        content: ""; }

.socialnetwork {
  position: absolute;
  top: 0;
  right: 30px; }
  .socialnetwork ul {
    padding: 0;
    margin: 0; }
  .socialnetwork li {
    list-style: none; }

.empty-submenu {
  height: 0;
  transition: all 0.5s linear; }
  .empty-submenu.active {
    height: 70px; }

.module-menu-ecole {
  padding-top: 30px; }
  .module-menu-ecole h3 {
    padding-bottom: 5px; }
  .module-menu-ecole ul {
    padding-left: 0;
    padding-top: 15px; }
  .module-menu-ecole li {
    list-style: none;
    text-transform: uppercase;
    padding-bottom: 4px; }
    .module-menu-ecole li.active a {
      color: red; }
    .module-menu-ecole li a {
      text-decoration: none;
      font-size: 0.9em; }

.carte-ecoles {
  position: relative; }
  .carte-ecoles .carte-wrapper {
    padding: 20px; }
  .carte-ecoles .carte-nom-ecole {
    position: absolute;
    background: #000;
    padding: 1px 3px; }
    .carte-ecoles .carte-nom-ecole .triangle {
      width: 8px;
      height: 8px;
      border-top: solid 8px #000;
      border-left: solid 8px transparent;
      border-right: solid 8px transparent;
      position: absolute;
      top: 100%;
      left: 50%;
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
    .carte-ecoles .carte-nom-ecole.active {
      background: red; }
      .carte-ecoles .carte-nom-ecole.active .triangle {
        border-top: solid 8px red;
        border-left: solid 8px transparent;
        border-right: solid 8px transparent; }
    .carte-ecoles .carte-nom-ecole a {
      color: #FFF;
      text-decoration: none;
      font-size: 0.8vw;
      text-transform: uppercase; }
    .carte-ecoles .carte-nom-ecole:hover {
      background: red; }
      .carte-ecoles .carte-nom-ecole:hover .triangle {
        border-top: solid 8px red;
        border-left: solid 8px transparent;
        border-right: solid 8px transparent; }

.rubrique {
  padding-right: 10px; }
  .rubrique h2 {
    padding-bottom: 20px;
    border-bottom: 1px solid #000; }
    .rubrique h2:hover {
      color: red;
      cursor: pointer;
      border-bottom: 1px solid red; }
  .rubrique p:last-child {
    margin-bottom: 40px; }
  .rubrique .rubrique-inner {
    transition: all 0.7s ease;
    opacity: 0;
    overflow: hidden;
    position: relative;
    max-height: 0;
    height: 0; }
  .rubrique.active h2 {
    color: red;
    border-bottom: 1px solid red; }
  .rubrique.active .rubrique-inner {
    opacity: 1;
    height: auto;
    max-height: 5000px; }
  .rubrique:first-child.active .rubrique-inner {
    display: block; }

.docs {
  padding: 0;
  margin-top: 10px;
  margin-bottom: 40px; }
  .docs li {
    list-style: none; }
    .docs li a {
      color: red;
      text-decoration: none; }
      .docs li a:hover {
        text-decoration: underline; }
      .docs li a img {
        position: relative;
        margin-right: 5px;
        top: 3px; }

.questions h3:before {
  content: "‣";
  margin-right: 5px;
  font-size: 20px; }

.questions h3.active {
  color: red; }

.questions h3:hover {
  color: red;
  cursor: pointer; }

.response-wrapper:not(.active) {
  display: none; }

.rubrique .rubrique-inner.ecole-active {
  overflow: inherit; }

.ecole-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  position: relative; }
  .ecole-wrapper > div:not(.arrow-back) {
    border-top: 1px solid #000;
    padding-top: 20px;
    padding-bottom: 20px; }
  .ecole-wrapper h2 {
    font-family: 'Inter UI', sans-serif;
    color: red;
    font-size: 1.6em;
    font-weight: 500;
    text-transform: none;
    border-bottom: none !important; }

.arrow-back {
  position: absolute;
  left: -20px;
  top: 10px; }
  .arrow-back a {
    padding: 3px 5px 3px 5px !important;
    width: 20px;
    border: 1px solid #000;
    text-decoration: none; }
  .arrow-back:hover a {
    background: red;
    border: none;
    color: #FFF; }

footer p.copyright {
  display: inline-block;
  margin-bottom: 0; }

footer ul {
  padding: 0;
  display: inline-block;
  margin: 0; }

footer li {
  display: inline-block;
  list-style: none; }
  footer li:before {
    content: "-";
    padding: 0 5px; }

footer p, footer li {
  font-size: 0.8em; }

body[data-template="default"] h2, body[data-template="partenaires"] h2, body[data-template="visuels"] h2 {
  color: red;
  border-bottom: 1px solid red;
  padding-bottom: 20px; }

body[data-template="default"] footer, body[data-template="partenaires"] footer, body[data-template="visuels"] footer {
  margin-top: 50px;
  border-top: 1px solid #000;
  padding-top: 30px; }

body[data-template="partenaires"] ul.partenaires {
  padding: 0; }
  body[data-template="partenaires"] ul.partenaires li {
    font-size: 1em;
    padding-top: 30px;
    padding-bottom: 30px; }

body[data-template="partenaires"] h4 {
  margin-top: 0; }

#pong {
  padding-top: 20px;
  margin-bottom: 50px; }

.photoswipe {
  margin-top: 20px;
  margin-bottom: 20px; }

@media print {
  body {
    margin: 0; }
  @page {
    margin: 1cm; }
  h1 {
    margin-top: 0; }
  .module-logo {
    -ms-flex-preferred-size: 15%;
    flex-basis: 15%;
    max-width: 15%; }
  .logo-wrapper {
    -ms-flex-preferred-size: 90%;
    flex-basis: 90%;
    max-width: 90%; }
  .main-module {
    -ms-flex-preferred-size: 85%;
    flex-basis: 85%;
    max-width: 85%; }
  .main-content {
    margin-top: 0; }
  .main-module .main-module {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .menu {
    display: none; }
  .socialnetwork {
    display: none; }
  .module-menu-ecole {
    display: none; }
  .rubrique > h2 {
    display: none; }
  .arrow-back {
    display: none; }
  footer {
    display: none; } }

.papeterie-header {
  padding: 1cm; }
  .papeterie-header p {
    font-size: 12.8px; }
  .papeterie-header .site-print {
    color: red;
    font-weight: bold;
    border-bottom: 1px solid red;
    padding-bottom: 10px;
    margin-top: 0; }
  .papeterie-header .entete-adresse {
    column-count: 2;
    column-gap: 1cm; }
    .papeterie-header .entete-adresse p {
      margin-top: 0; }
  .papeterie-header .footer .type-smaller p {
    font-size: 8pt;
    font-weight: bold; }
  .papeterie-header .footer .page-number {
    position: absolute;
    left: 1cm;
    bottom: 1cm;
    border-top: 1px solid red; }
  .papeterie-header .footer .tva {
    position: absolute;
    right: 8.8cm;
    bottom: 0.6cm;
    border-top: 1px solid red; }

.papeterie-mainContent {
  margin-top: 2cm; }
  .papeterie-mainContent .intitule p {
    text-indent: 0; }
  .papeterie-mainContent p {
    font-size: 12.8px;
    text-align: justify;
    text-indent: 30px; }

@media only screen and (max-width: 700px) {
  .hide-for-small-only {
    display: none; }
  .show-for-small-only {
    display: -ms-flexbox;
    display: flex; }
  .module-menu-ecole {
    padding-top: 0;
    padding-left: 10%; }
    .module-menu-ecole h3 {
      margin-top: 0; }
  .menu {
    max-height: 0px;
    overflow: hidden;
    transition-duration: 0.2s;
    transition-delay: 0.2s; }
  .menuicon {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    cursor: pointer;
    height: 18px;
    width: 25px; }
    .menuicon span {
      display: block;
      top: 8px;
      width: 25px;
      height: 2px;
      background-color: #000;
      position: relative;
      transition-duration: 0;
      transition-delay: 0.2s; }
      .menuicon span::after, .menuicon span::before {
        display: block;
        content: '';
        position: absolute;
        width: 25px;
        height: 2px;
        background-color: #000;
        -webkit-transition-property: margin, -webkit-transform;
        transition-duration: 0.2s;
        transition-delay: 0.2s, 0; }
      .menuicon span::before {
        margin-top: -8px; }
      .menuicon span::after {
        margin-top: 8px; }
  #hamburger:checked ~ .menu {
    height: auto;
    max-height: 500px; }
  #hamburger:checked ~ .menuicon span {
    background-color: transparent; }
    #hamburger:checked ~ .menuicon span::before, #hamburger:checked ~ .menuicon span::after {
      margin-top: 0px;
      transition-delay: 0, 0.2s; }
    #hamburger:checked ~ .menuicon span::before {
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    #hamburger:checked ~ .menuicon span::after {
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); } }
