@charset "UTF-8";
@import url(../fonts/stylesheet.css);
* {
  box-sizing: border-box; }

body {
  font-size: 12px;
  margin: 30px; }

h1 {
  font-family: 'Inter UI', sans-serif;
  font-size: 2.3em;
  font-weight: 500; }

h2 {
  font-family: "petitemort", serif;
  font-size: 2.3em;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  margin-top: 0;
  font-weight: normal; }

h2 {
  font-family: "petitemort", serif;
  font-size: 2.3em;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  margin-top: 0;
  font-weight: normal; }

h3 {
  font-family: 'Inter UI', sans-serif;
  font-size: 1.2em;
  line-height: 140%;
  font-weight: bold; }

h4 {
  font-family: 'Inter UI', sans-serif;
  font-size: 1.2em;
  color: red;
  text-decoration: underline;
  margin-bottom: 0; }
  h4 + p {
    margin-top: 3px; }

figure {
  margin: 10px 0; }

figcaption p {
  margin-top: 5px;
  text-align: center;
  font-size: 1em;
  color: #222222; }

.show-for-small-only {
  display: none; }

.pswp__caption__center {
  text-align: center;
  font-family: 'Inter UI', sans-serif;
  font-size: 1.2em;
  line-height: 140%; }

p, a, li {
  font-family: 'Inter UI', sans-serif;
  font-size: 1.2em;
  line-height: 140%; }

.row {
  max-width: 1320px;
  margin: auto; }

a {
  color: #000;
  font-size: 1em; }

a:hover {
  color: red; }

img {
  max-width: 100%; }

.main-content {
  position: relative;
  margin-top: 23px;
  opacity: 0;
  transition: all 0.8s linear; }
  .main-content.loaded {
    opacity: 1; }

.main-ecole {
  margin-top: 0; }

.module-menu {
  position: relative; }

.module-logo {
  position: fixed; }

#hamburger {
  display: none; }

.menu {
  padding-left: 0;
  margin-top: 0;
  position: relative; }
  .menu li {
    list-style: none;
    display: inline-block;
    font-size: 1em; }
    .menu li::after {
      content: "|";
      display: inline-block;
      padding: 0 5px; }
  .menu a {
    text-decoration: none; }
  .menu .submenu {
    position: absolute;
    opacity: 0;
    padding-left: 0;
    padding-top: 25px;
    transition: all 0.7s linear;
    overflow: hidden; }
    .menu .submenu.active {
      opacity: 1; }
    .menu .submenu li {
      display: block; }
      .menu .submenu li a {
        color: red; }
        .menu .submenu li a:hover {
          color: #000; }
      .menu .submenu li::after {
        content: ""; }

.socialnetwork {
  position: absolute;
  top: 0;
  right: 30px; }
  .socialnetwork ul {
    padding: 0;
    margin: 0; }
  .socialnetwork li {
    list-style: none; }

.empty-submenu {
  height: 0;
  transition: all 0.5s linear; }
  .empty-submenu.active {
    height: 70px; }

.module-menu-ecole {
  position: fixed;
  top: 0; }
  .module-menu-ecole h3 {
    padding-bottom: 5px; }
  .module-menu-ecole ul {
    padding-left: 0;
    padding-top: 15px; }
  .module-menu-ecole li {
    list-style: none;
    text-transform: uppercase;
    padding-bottom: 4px; }
    .module-menu-ecole li.active a {
      color: red; }
    .module-menu-ecole li a {
      text-decoration: none;
      font-size: 0.9em; }

.carte-ecoles {
  position: relative;
  margin-left: 13px; }
  .carte-ecoles .carte-wrapper {
    padding: 20px; }
  .carte-ecoles .carte-nom-ecole {
    position: absolute;
    background: #000;
    padding: 1px 3px;
    top: 0;
    left: 0; }
    .carte-ecoles .carte-nom-ecole .triangle {
      width: 8px;
      height: 8px;
      border-top: solid 8px #000;
      border-left: solid 8px transparent;
      border-right: solid 8px transparent;
      position: absolute;
      top: 100%;
      left: 50%;
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
    .carte-ecoles .carte-nom-ecole.active {
      background: red; }
      .carte-ecoles .carte-nom-ecole.active .triangle {
        border-top: solid 8px red;
        border-left: solid 8px transparent;
        border-right: solid 8px transparent; }
    .carte-ecoles .carte-nom-ecole a {
      color: #FFF;
      text-decoration: none;
      font-size: 0.8vw;
      text-transform: uppercase; }
    .carte-ecoles .carte-nom-ecole:hover {
      background: red; }
      .carte-ecoles .carte-nom-ecole:hover .triangle {
        border-top: solid 8px red;
        border-left: solid 8px transparent;
        border-right: solid 8px transparent; }

.rubrique {
  padding-right: 10px; }
  .rubrique h2 {
    padding-bottom: 20px;
    border-bottom: 1px solid #000; }
    .rubrique h2:hover {
      color: red;
      cursor: pointer;
      border-bottom: 1px solid red; }
  .rubrique p:last-child {
    margin-bottom: 40px; }
  .rubrique .rubrique-inner {
    transition: all 0.7s ease;
    opacity: 0;
    overflow: hidden;
    position: relative;
    max-height: 0;
    height: 0; }
  .rubrique.active h2 {
    color: red;
    border-bottom: 1px solid red; }
  .rubrique.active .rubrique-inner {
    opacity: 1;
    height: auto;
    max-height: 5000px; }
  .rubrique:first-child.active .rubrique-inner {
    display: block; }

.docs {
  padding: 0;
  margin-top: 10px;
  margin-bottom: 40px; }
  .docs li {
    list-style: none; }
    .docs li a {
      color: red;
      text-decoration: none; }
      .docs li a:hover {
        text-decoration: underline; }
      .docs li a img {
        position: relative;
        margin-right: 5px;
        top: 3px; }

.questions h3:before {
  content: "‣";
  margin-right: 5px;
  font-size: 20px; }

.questions h3.active {
  color: red; }

.questions h3:hover {
  color: red;
  cursor: pointer; }

.response-wrapper:not(.active) {
  display: none; }

.rubrique .rubrique-inner.ecole-active {
  overflow: inherit; }

.ecole-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  position: relative; }
  .ecole-wrapper > div:not(.arrow-back) {
    border-top: 1px solid #000;
    padding-top: 20px;
    padding-bottom: 20px; }
  .ecole-wrapper h2 {
    font-family: 'Inter UI', sans-serif;
    color: red;
    font-size: 1.6em;
    font-weight: 500;
    text-transform: none;
    letter-spacing: normal;
    border-bottom: none !important; }
  .ecole-wrapper .print-ecole {
    position: absolute;
    top: 10px;
    right: 8px; }

.arrow-back {
  position: absolute;
  left: -20px;
  top: 5.5px; }
  .arrow-back a {
    padding: 3px 5px 3px 5px !important;
    width: 20px;
    border: 1px solid #000;
    text-decoration: none; }
  .arrow-back:hover a {
    background: red;
    border: none;
    color: #FFF; }

footer p.copyright {
  display: inline-block;
  margin-bottom: 0; }

footer ul {
  padding: 0;
  display: inline-block;
  margin: 0; }

footer li {
  display: inline-block;
  list-style: none; }
  footer li:before {
    content: "-";
    padding: 0 5px; }

footer p, footer li {
  font-size: 0.8em; }

body[data-template="default"] h2, body[data-template="partenaires"] h2, body[data-template="visuels"] h2 {
  color: red;
  border-bottom: 1px solid red;
  padding-bottom: 20px; }

body[data-template="default"] footer, body[data-template="partenaires"] footer, body[data-template="visuels"] footer {
  margin-top: 50px;
  border-top: 1px solid #000;
  padding-top: 30px; }

body[data-template="partenaires"] ul.partenaires {
  padding: 0; }
  body[data-template="partenaires"] ul.partenaires li {
    font-size: 1em;
    padding-top: 30px;
    padding-bottom: 30px; }

body[data-template="partenaires"] h4 {
  margin-top: 0; }

#pong {
  padding-top: 20px;
  margin-bottom: 50px; }

.photoswipe {
  margin-top: 20px;
  margin-bottom: 20px; }

.show-for-print {
  display: none; }

.hide-for-print {
  display: block; }

@media print {
  .show-for-print {
    display: block; }
  .hide-for-print {
    display: none; }
  body {
    margin: 0; }
  @page {
    margin: 1cm; }
  h1 {
    margin-top: 0; }
  .module-logo {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
    position: relative; }
  .main-module {
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
    max-width: 70%; }
  .main-content {
    margin-top: 0; }
  .main-module .main-module {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .menu {
    display: none; }
  .socialnetwork, .print-ecole {
    display: none; }
  .module-menu-ecole {
    display: none; }
  .rubrique > h2 {
    display: none; }
  .arrow-back {
    display: none; }
  footer {
    display: none; }
  .section {
    page-break-inside: avoid; }
  .main-ecole {
    padding-top: 6cm; } }

.papeterie-header {
  padding: 1cm; }
  .papeterie-header .logo-wrapper-print {
    position: relative; }
    .papeterie-header .logo-wrapper-print p {
      text-transform: uppercase;
      position: absolute;
      left: 60px;
      top: 12px;
      margin: 0; }
  .papeterie-header p {
    font-size: 12.8px; }
  .papeterie-header .site-print {
    color: red;
    font-weight: bold;
    border-bottom: 1px solid red;
    padding-bottom: 10px;
    margin-top: 0; }
  .papeterie-header .entete-adresse {
    column-count: 2;
    column-gap: 1cm; }
    .papeterie-header .entete-adresse p {
      margin-top: 0; }
  .papeterie-header .footer .type-smaller p {
    font-size: 8pt;
    font-weight: bold; }
  .papeterie-header .footer .page-number {
    position: absolute;
    left: 1cm;
    bottom: 1cm;
    border-top: 1px solid red; }
  .papeterie-header .footer .tva {
    position: absolute;
    right: 8.8cm;
    bottom: 1cm;
    border-top: 1px solid red; }

.papeterie-mainContent {
  margin-top: 2cm; }
  .papeterie-mainContent .intitule p {
    text-indent: 0; }
  .papeterie-mainContent p, .papeterie-mainContent li, .papeterie-mainContent a {
    font-size: 12.8px;
    text-align: justify;
    text-indent: 30px; }

@media only screen and (max-width: 700px) {
  .module-logo, .module-menu-ecole {
    position: relative; }
  .logo-wrapper {
    padding: 0; }
  .carte-ecoles {
    display: none; }
  .hide-for-small-only {
    display: none; }
  .show-for-small-only {
    display: -ms-flexbox;
    display: flex; }
  .module-menu-ecole {
    padding-top: 0;
    padding-left: 10%; }
    .module-menu-ecole h3 {
      margin-top: 0; }
  h2 {
    font-size: 2em; }
  p, h3, li {
    font-size: 1em; }
  .menu {
    max-height: 0px;
    overflow: hidden;
    transition-duration: 0.8s;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 0.5rem; }
    .menu li {
      display: block;
      font-size: 1.2em;
      line-height: 120%; }
      .menu li::after {
        content: "";
        padding: 0;
        display: none; }
      .menu li .submenu {
        position: relative;
        padding: 0;
        padding-left: 40px;
        height: 0;
        transition: all 1s linear; }
        .menu li .submenu li {
          font-size: 1em; }
        .menu li .submenu.active {
          height: auto; }
  .empty-submenu.active {
    height: 0; }
  .menuicon {
    position: absolute;
    top: 0px;
    left: 0.5rem;
    display: block;
    cursor: pointer;
    height: 18px;
    width: 30px; }
    .menuicon span {
      display: block;
      top: 8px;
      width: 30px;
      height: 2px;
      background-color: red;
      position: relative;
      transition-duration: 0; }
      .menuicon span::after, .menuicon span::before {
        display: block;
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: red;
        transition-duration: 0.8s;
        transition-delay: 0.8s, 0; }
      .menuicon span::before {
        margin-top: -8px; }
      .menuicon span::after {
        margin-top: 8px; }
  #hamburger:checked ~ .menu {
    height: auto;
    max-height: 500px; }
  #hamburger:checked ~ .menuicon span {
    background-color: transparent; }
    #hamburger:checked ~ .menuicon span::before, #hamburger:checked ~ .menuicon span::after {
      margin-top: 0px;
      transition-delay: 0, 0.8s; }
    #hamburger:checked ~ .menuicon span::before {
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    #hamburger:checked ~ .menuicon span::after {
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .module-menu-ecole ul {
    padding-top: 0; }
  .main-content {
    margin-top: 50px; }
  .ecole-wrapper {
    padding-left: 0.5rem;
    padding-right: 0.5rem; }
    .ecole-wrapper .print-ecole {
      position: relative;
      top: 0;
      right: 0;
      padding-bottom: 20px;
      display: block; }
  .infos-ecoles {
    word-wrap: break-word; }
  .carte-ecoles .carte-nom-ecole {
    padding: 1px 2px;
    padding-top: 0px; } }

@media only screen and (max-width: 1000px) {
  .main-ecole {
    margin-top: 10px; }
  .arrow-back {
    left: 0.5rem;
    top: -28px; }
  .main-content {
    margin-top: 35px; }
  .carte-ecoles .carte-nom-ecole a {
    font-size: 0.6em; } }

@media only screen and (min-width: 1600px) {
  .carte-ecoles .carte-nom-ecole a {
    font-size: 0.5vw; }
  .col-xlg,
  .col-xlg-1,
  .col-xlg-2,
  .col-xlg-3,
  .col-xlg-4,
  .col-xlg-5,
  .col-xlg-6,
  .col-xlg-7,
  .col-xlg-8,
  .col-xlg-9,
  .col-xlg-10,
  .col-xlg-11,
  .col-xlg-12,
  .col-xlg-offset-0,
  .col-xlg-offset-1,
  .col-xlg-offset-2,
  .col-xlg-offset-3,
  .col-xlg-offset-4,
  .col-xlg-offset-5,
  .col-xlg-offset-6,
  .col-xlg-offset-7,
  .col-xlg-offset-8,
  .col-xlg-offset-9,
  .col-xlg-offset-10,
  .col-xlg-offset-11,
  .col-xlg-offset-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .col-xlg {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .col-xlg-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%; }
  .col-xlg-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%; }
  .col-xlg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-xlg-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%; }
  .col-xlg-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%; }
  .col-xlg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-xlg-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%; }
  .col-xlg-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%; }
  .col-xlg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-xlg-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%; }
  .col-xlg-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%; }
  .col-xlg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-xlg-offset-0 {
    margin-left: 0; }
  .col-xlg-offset-1 {
    margin-left: 8.33333333%; }
  .col-xlg-offset-2 {
    margin-left: 16.66666667%; }
  .col-xlg-offset-3 {
    margin-left: 25%; }
  .col-xlg-offset-4 {
    margin-left: 33.33333333%; }
  .col-xlg-offset-5 {
    margin-left: 41.66666667%; }
  .col-xlg-offset-6 {
    margin-left: 50%; }
  .col-xlg-offset-7 {
    margin-left: 58.33333333%; }
  .col-xlg-offset-8 {
    margin-left: 66.66666667%; }
  .col-xlg-offset-9 {
    margin-left: 75%; }
  .col-xlg-offset-10 {
    margin-left: 83.33333333%; }
  .col-xlg-offset-11 {
    margin-left: 91.66666667%; }
  .start-xlg {
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-xlg {
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .end-xlg {
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-xlg {
    -ms-flex-align: start;
    align-items: flex-start; }
  .middle-xlg {
    -ms-flex-align: center;
    align-items: center; }
  .bottom-xlg {
    -ms-flex-align: end;
    align-items: flex-end; }
  .around-xlg {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .between-xlg {
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .first-xlg {
    -ms-flex-order: -1;
    order: -1; }
  .last-xlg {
    -ms-flex-order: 1;
    order: 1; } }

@media only screen and (min-width: 2000px) {
  .row {
    max-width: 1800px; } }
